.form_accedi{
	margin-top:8%;
	margin-left:40%;
	margin-right:40%;
	margin-bottom:8%;
}

a.img_card{
    height:25%;
}

p.info{
	color:rgb(100,100,100) ;
	font-size: 1rem;
}

img.img_secondarie{
	width:80%;
    margin-left:10%;
}

.tab_img_details{
	width:100%;
}

.title-item{
	font-size: 2rem;
}

.item-description , .option-item{
	width:80%;
	margin-left:10%;
	margin-top:5%;
	font-size: 1rem;
}

img.img-responsive{
	width:60%;
}

p.description{
	margin:0% !important;
}

label.error {
	color: red;
	font-style: italic;
}
	
input.error {
	border: 1px dotted red;
}

body {	
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8rem;
}

img.img_mechanical{
    width:90% !important;
    margin:5%;
}

input.quantita{
    width:50% !important;
}

p.add{
    background:rgba(0, 256, 0,0.7);
}

p.remove{
    background:rgba(256, 0, 0,0.7);
}

p.notifica{
    width:40%;
}

td.specifiche, tr.specifiche{
    border: 1px solid black;
}

table.specifiche {
    margin-top:5%;
}

td.detail{
    background-color: #99CBFF;
    border: 1px solid black;
}

h5.title_specifiche{
    color:red;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    width: 40%;
    margin-left:30%;
    margin-top:15%;
    margin-bottom:15%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    height:100%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup{
    margin-left:20%;
    margin-right:20%;
    margin-top:20%;
}

@media (min-width: 800px){
    body{
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }
}

#figlio{
	border: 0px solid rgba(0, 0, 0, 0.125);
}

#invia{
	width:30%;
	float:right;
	margin-right:10%;
}

#button_registration{
    width:60%;
    margin-left:20%;
}

#img_prodotto{
	width:50%;
    margin-left:25%;
}

#img_lavorazioni{
	width:30%;
	height:10%;
}

#button_acces{
    text-align:center;
}

#checkout{
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

#div_registration, #div_cart{
    margin-bottom:5%;
    margin-top:3%;
}

#upload{
    float:left;
}

